DJANGO_SECRET_KEY=change_this_to_a_long_random_string
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=mysql
DB_NAME=socobys_ims
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
